html, body{
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 80vw;
    background-color: black;
    margin: auto;
    min-height: 80vh;

    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 1fr 3fr;
    gap: 20px;

    grid-template-areas:
        "top top"
        "left right";
}

.header{
    grid-area:top;
    background-color: red;
}

.content{
    grid-area: left;
    background-color: green;
}

.navigation{
    grid-area: right;
    background-color: blue;
}